{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis hic harum omnis deleniti repellendus voluptas impedit quas ipsum consequuntur, accusamus ea ipsa itaque magnam fugit velit, expedita, cumque architecto culpa soluta debitis aut neque obcaecati tenetur. Eum assumenda reiciendis, laudantium obcaecati dolores rem fugit! Rerum delectus maiores illum voluptate harum. Maxime repellat impedit laborum minima neque laudantium accusantium aut eligendi sit dolorem aliquam ullam officia magni maiores nisi nihil minus ducimus perferendis, fugiat culpa harum ipsa, ipsam cum. Culpa corporis, natus commodi molestiae magnam tempore quasi amet animi neque odit optio quis blanditiis perferendis labore cumque ducimus incidunt soluta enim?</p>

   <div class="text-center">
    <a class="btn btn-secondary" href="/signin/">
        Signin
    </a>
    <a class="btn btn-dark" href="/signup/">
        Signup
    </a>
   </div>
    </section>
</main>
{% endblock %}

